
.modal-fade-leave-active {
  opacity: 0 !important;
  transition: opacity 0.3s cubic-bezier(0.2, 0.8, 0.2, 1);

}
.modal-fade-enter-active{
  opacity: 100;
  transition: opacity 0.3s cubic-bezier(0.2, 0.8, 0.2, 1);

}

/* -- fade Animation -- */
@-webkit-keyframes modal-fade-enter {
  from {
      opacity: 0;
  }
}

@keyframes modal-fade-enter {
  from {
      opacity: 0;
  }
}
/* -- fade Animation -- */
@-webkit-keyframes modal-fade-leave {
  to {
      opacity: 0;
  }
}

@keyframes modal-fade-leave {
  to {
      opacity: 0;
  }
}


.modal-fade-enter {
  -webkit-animation: modal-fade-enter both cubic-bezier(0.2, 0.8, 0.2, 1);
  animation: modal-fade-enter both cubic-bezier(0.2, 0.8, 0.2, 1);
  animation-duration: 0.3s;
}
.modal-fade-leave {
  -webkit-animation: modal-fade-leave both cubic-bezier(0.2, 0.8, 0.2, 1);
  animation: modal-fade-leave both cubic-bezier(0.2, 0.8, 0.2, 1);
  animation-duration: 0.3s;
}
.modal-fade-leave-long {
  -webkit-animation: modal-fade-leave both cubic-bezier(0.2, 0.8, 0.2, 1);
  animation: modal-fade-leave both cubic-bezier(0.2, 0.8, 0.2, 1);
  animation-duration: 2.2s;
}
